@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
  --color-accent: #CAEB66;
}

/*Google Fonts*/

body{
    
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}